.header {
  background-color: var(--cor-p6);
  height: 70px;
  padding: 1rem;
  box-sizing: border-box;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.header__menu a {
  font-family: var(--fonte-secundaria);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: var(--cor-c6);
  display: block;
  padding: 8px;
}

#btn-mobile {
  display: none;
}

@media (max-width: 700px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: var(--cor-p6);
    height: 0px;
    transition: 0.6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(25vh - 60px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    font-size: 16px;
  }

  #btn-mobile {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  #hamburguer {
    color: var(--cor-c6);
    display: block;
    width: 20px;
    border-top: 2px solid;
  }

  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;
  }

  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
